<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let Product of products" [ngClass] = "{'clearance' : Product.clearance}">
            <td><img [src]="Product.image" [alt]="Product.name" width="100" height="100"></td>
            <td>{{Product.name}}</td>
            <td>{{Product.brand}}</td>
            <td>{{Product.price | currency}}</td>
            <td> <span class = "badge bg-warning text-dark" *ngIf = "Product.stock == 0"> SIN STOCK </span><span class="badge bg-success" *ngIf = "Product.stock > 0"> DISPONIBLE </span> </td>
        </tr>
    </tbody>
</table>