table {
    border: 2px;
    border-style: ridge;
}
.clearance{
    border: 2px solid green;
    background: lightgreen;
}
//Para quitarle las flechitas molestas al input tipo number
.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}